:root {
    --width: calc( (100vw - 320px) * (-320) );
    font-size: 14px;
    overflow: hidden;
}

body {
    background-color: black;
    overflow: hidden;
}

.noMobile {
  font-size: 14px;
  color:rgb(251, 255, 0);
  font-weight: bold;
  font-family: helvetica;
}
.content-block {
  
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    overflow: hidden;
    background-size: 101% 101%;
    height: 100vh;
    width: 100vw;
    /* margin: 3px auto 0; */
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url(/static/assets/dragon-background-by-upklyak.jpg);
    position: relative;   
    z-index: -1;

}

ul {
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.26);    
    border: 10px solid transparent;
    border-image: url(/static/assets/navbar.png) 30% round;
    height: 4.5%;
    z-index: 25;
  }
    
  li {
    float: left;
    
   
  }
  
  li:last-child {
    border-right: none;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-image: url(/static/assets/navbar-button.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 40%;
    width: 5rem;
    font-family: Helvetica;
    z-index: -1;

  }
  
  li a:hover:not(.active) {
    background-color:rgba(32, 5, 58, 0.637)
  }
  
  .active {
    background-color: #3f1970c4;
        
  }

.welcome-div {
    height: 100vh;
    width: 100vw;    

    display: grid;
    grid-template-columns: repeat(6, minmax(250px, 1fr));   }


.textbox {
    
    min-width: fit-content;    
    grid-column-start: 3;
    max-height: 65%;
    max-width: 65%;
    opacity: 0.9;
    
}

.greeting {
    position: absolute;
    margin-left: 39%;
    margin-top: 10%;
    text-align: center;
    z-index: 9;
    font-size: 24px;
    color: rgb(4, 184, 184);
    font-family: Helvetica;
    width: 350px;
    
}


.error-message {
  font-size: 16px;
  color: red;
}

.hidden {
  display: None;
}

.signup-div {
  font-size: 24px;
  font-family: Helvetica;
  color: white;
  text-align: right;
  vertical-align: middle;
  line-height: 100px;
  background-image: url(/static/assets/navbar.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;  
  height: 100px;
  width: 115%;

  margin-left: -9%;
   
}

.login-div {
  font-size: 24px;
  font-family: Helvetica;
  color: white;
  text-align: center;
  vertical-align: middle;
  line-height: 100px;
  background-image: url(/static/assets/navbar.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;  
  height: 100px;
  width: 200%;

  margin-left: -50%;
   
}

.search-form {
  position: absolute;
  margin-left: 50%;
  margin-top: 20px;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  z-index: 10;
  border: 1px solid black;
}

.search-bar {
  width: 15%;
  list-style-type: none;
  margin-left: 40%;
  margin-top: 3%;
  padding: 2px;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.25);    
  border: 10px solid transparent;
  border-image: url(/static/assets/navbar.png) 35% round;
  height: 2%;
  font-size: 18px;
  color:rgb(7, 255, 7);
  z-index: 100;

}


input::placeholder {
  text-align: center;
  color: white;
}

.search-button {
  position: absolute;
  background: url(/static/assets/search_button.png);
  border: 0;
  opacity: 0.8;
  height: 5%;
  width: 5%;
  margin-top: 3%;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 100;

 }
 
.search-button:hover {
  opacity: 1.0;
}

.submit-button {
  background: url(/static/assets/submit_button.png);
  border: 0;
  opacity: 0.8;
  height: 100%;
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;

 }

.submit-button:hover {
  opacity: 1.0;
}

.background {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat; 

}

.flash_message {
  position: absolute;
  margin-left: -5%;
  color: rgb(7, 255, 7);
}

h1 {
font-family: Arial;
}

.char_list {
  list-style: none;
  font-size: 12px;
  font-family: Helvetica;
  font-weight: bold;  
}



.scroll-div {
  background-image: url(/static/assets/even_longer_scroll.png);
  margin-top: -1%;
  height: 100vh;
  width: 100vw;
  opacity: 0.95;
}

.div {
  position: absolute;
  right: 2%;
  top: 7%;
  width: 100px;
  height: 100px;
  padding: 10px;
}

.h1 {
  position: absolute;
  right: 1%;
  top: 17%;
  padding: 10px;
  width: 100px;
  height: 50px;
  font-size: 24px;
  color: rgb(4, 184, 184);
  font-family: Helvetica;

}

.newDiv {

  margin-left: 10px;
  padding-top: 1px;
  padding-bottom: 1px;
  width: 150px;
  text-align: right;
}

.jj {
  border: 1px solid black
}

.large-textbox-div {

  background-image: url(/static/assets/large_textbox.png);
  margin-top: -2%;
  height: 100vh;
  width: 100vw;
  opacity: 0.95;

  z-index: -1;
}


.profile-page {

  display: grid;
  text-align: center;
  grid-template-columns: repeat(18, 118px);
  grid-template-rows: repeat(10, 100px);
  z-index: -1;

}




  .gold_border {
    grid-column-start: 14;
    grid-row-start: 6;
    background-image: url(/static/assets/silver_border_with_infill.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 370px;
    width: 370px;
    font-size: 24px;
    font-family: Helvetica;
    color: white;
  }

.email {

  grid-column-start: 8;
  grid-column-end: 10;
  grid-row: 3;
  font-size: 24px;
  color:rgb(4, 184, 184);

}

#email {
  font-size: 20px;
}

.image_url {
  grid-column-start: 8;
  grid-column-end: 10;
  grid-row: 4;
  font-size: 24px;
  color:rgb(4, 184, 184);
}

#image_url {
  font-size: 20px;
}

.password {
  grid-column-start: 8;
  grid-column-end: 10;
  grid-row: 5;
  font-size: 24px;
  color:rgb(4, 184, 184);
}

#password {
  font-size: 20px;
}

.username {
  font-size: 24px;
}

#username {
  font-size: 20px;
}

.profile-submit-button {
  margin: 0;
  padding: 0;
  grid-column-start: 8;
  grid-column-end: 11;
  grid-row: 6;
}

.link-text {
  position: fixed;
  color: white;
  z-index: 100;
}

.search-textbox-div {
  text-align: center;
  font-size: 24px;
  font-family: Helvetica;
  color:rgb(4, 184, 184);
  background-image: url(/static/assets/silver_border_with_infill.png);
  margin-top: -0.5%;
  height: 90vh;
  width: 95vw;
  opacity: 0.95;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 45%;

}

.countainer {
  display: grid;
  grid-template-columns: repeat(12, 100px);
  grid-template-rows: repeat(10, 100px);
  
}

fieldset {
  z-index: -1;
  height: 90%;
  border: 0;
}

.delete-button {
  position: absolute;
  margin-top: -8%;
  margin-left: -43%;
  width: 150px;
  height: 150px;
  background-image: url(/static/assets/delete_button.png);
  background-position: center center;
  background-repeat: no-repeat;
  z-index: 100;
}

.edit-button {
  position: absolute;
  margin-top: -8%;
  margin-left: -60%;
  width: 150px;
  height: 150px;
  background-image: url(/static/assets/edit_button.png);
  background-position: center center;
  background-repeat: no-repeat;
  z-index: 100;
}

.user-delete {
  height: 100%;
  width: 100%;
  background-image: url(/static/assets/delete.png);
}

.profile-delete-button {
  margin: 0;
  padding: 0;
  grid-column-start: 8;
  grid-column-end: 11;
  grid-row: 7;
}

.name-error {
  color:rgb(4, 184, 184);
}

.user_view_username {
  grid-column-start: 6;
  grid-column-end: 12;
  grid-row: 3;
  font-size: 64px;
  font-family: Helvetica;
  color: white;
  text-align: center;
}

.user_view_image {
  grid-column: 8;
  grid-row: 4;
  max-height: 250px;
  max-width: 250px;
}

.user_view_chars {
  grid-column: 8;
  grid-row: 7;
}
