<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='app.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='creationPage.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='character_page.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='media_queries.css')}}">
    
    <title>{% block title %}{% endblock %}</title>
</head>
<body class="content-block">
    <ul class="navbar-list" id="navbar-list">
        
        <li id="home"><a href="/" >Home</a></li>
        <li id="browse"><a href="/browse" >Browse</a></li>
        <li class="search" id="search"><a href="">Search</a></li>
        {% if g.user %}
        <li id="create"><a href='/new_character'>Create</a></li>
        <li style="float:right" id="profile"><a href="/users/{{g.user.id}}">Profile</a></li>
        <li style="float:right" id="logout"><a href="/logout">Logout</a></li>
        {% else %}
        <li style="float:right" id="signup"><a href="/signup">Signup</a></li>
        <li style="float:right" id="login"><a href="/login">Login</a></li>
        {% endif %}
    </ul>
    {% for message in get_flashed_messages() %}
    <div class="flash_message" id="flash_message"><h1>{{message}}</h1></div>
    {% endfor %}

    <form action="/search" class="hidden search-form" id="search-form">
    <input type="text" class='hidden search-bar' id='search-bar' name='q' placeholder="Search user or character name"><button type="submit" class="hidden search-button" id="search-button"></button>
        </form>

    {% if g.user %}
    <div class='div background' style="background-image:url({{g.user.image_url}})"></div>
    <h1 class="h1"><a href="/users/{{g.user.id}}" class="link-text">{{g.user.username}}</a></h1>
    {% endif %}
    {% block content %}


    {% endblock %}
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="{{url_for('static', filename='app.js')}}"></script>
</body>
</html> 