{% extends "base.html" %}



{% block title %}New Character{% endblock %}

{% block content %}
<div class="scroll-div background" id="char_profile_div">
    <fieldset disabled="disabled">
    <form method="POST" class="character_form1">
        
        


    <!-- hides csrf token  -->
    {{ form.hidden_tag() }}
    {% for field in form if field.widget.input_type != 'hidden' %}

    <!-- shows error messages if there are any  -->
    {% for error in field.errors %}
    {% endfor %}
    {% if field.name == 'character_name' %}{{field}} 
    {% else %}

    <!-- renders form with character name, gender, race, and class  -->
    {{field.label(class_=field.name)}} {{field}}
    {% endif %}
    {% endfor %}
    


<!-- renders the stats drop-down menus for str, dex, con, int, wis, and cha  -->

        {{form.hidden_tag()}}
        {% for field in stat_form if field.widget.input_type != 'hidden' %}
        {% for error in field.errors %}
        {% endfor %}
        {{field.label(class_=field.name)}} {{field(class_=field.name)}}
        {% endfor %}

        



    <!-- renders the equipment drop-down menus for weapons and armor  -->
    <div class="level">Level = 1</div>

        {{form.hidden_tag()}}
        {% for field in equipment_form if field.widget.input_type != 'hidden' %}
        {% for error in field.errors %}
        {% endfor %}
        {{field.label(class_=field.name)}} {{field(class_=field.name)}}
        {% endfor %}




    <!-- renders the items drop-down menus  -->

        {{form.hidden_tag()}}
        {% for field in item_form if field.widget.input_type != 'hidden' %}
        {% for error in field.errors %}
        {% endfor %}
        {{field.label(class_=field.name)}} {{field(class_=field.name)}}
        {% endfor %}
    
        <div class="strength-div background" id="strength-div"></div>
        <div class="dexterity-div background" id="dexterity-div"></div>
        <div class="wisdom-div background" id="wisdom-div"></div>
        <div class="constitution-div background" id="constitution-div"></div>
        <div class="intelligence-div background" id="intelligence-div"></div>
        <div class="charisma-div background" id="charisma-div"></div>
        <div class="misc1-div background" id="armor_class-div"></div>
        <div class="misc2-div background" id="proficiency-div"><p class="modifiers">+ 2</p></div>
        <div class="misc3-div background" id="hit_points-div"></div>
    

  

        
</form>
</fieldset>
<!-- <div id="{{char_armor_index}}"></div> -->
 

</div>
{% endblock %}