{% extends 'base.html' %}

{% block title %}Landing Page{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-1">
        </div>
        <div class="col-sm-12">
        <div class="greeting my-5" style="height: 80vh; overflow-y: auto">
            <br><br><br><b>Welcome to This D&D Character Creator!</b><br><br>
            Begin by creating a login to easily create, store, and update all information for your D&D character!<br><hr>
            Create characters! Browse other people's characters! Adding more advanced functionalities like magic items, searching by race, making the character able to be exported to pdf in the future!<br><hr>
            Happy dungeon crawling adventurer!
        </div></div>
<div class="col-sm-1"></div>
</div>
    
</div>
{% endblock %}