{% extends 'base.html' %}

{% block title %}Landing Page{% endblock %}

{% block content %}
<div class="welcome-div">
    <div class="greeting">
        <b>Welcome to This D&D Character Creator!</b><br><br>
        Begin by creating a login to easily create, store, and update all information for your D&D character!<br><hr>
        Check out the News page for upcoming information! Contact us through the Contact page with questions, comments, or suggestions!<br><hr>
        Happy dungeon crawling adventurer!
    </div>
    <img class="textbox" src="/static/assets/textbox.png">
</div>
{% endblock %}