{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
<form class = 'signup_form' method="POST" id="signup_form">
    {{ form.hidden_tag() }}
    {% for field in form if field.widget.input_type != 'hidden' %}
    {% for error in field.errors %}
    <span class="error_msg">{{error}}</span>
    {% endfor %}
<div class='login-div'>{{field.label(class_='signup_pw')}} {{field}}</div>
{% endfor %}
<button type="submit" id="submit-button" class="submit-button"></button>
</form>
{% endblock %}