{% extends 'base.html' %}

{% block title %}Profile{% endblock %}

{% block content %}
<div class="large-textbox-div background">


<form method="POST" class="profile-page">

    {{ form.hidden_tag() }}
    {% for field in form if field.widget.input_type != 'hidden' %}
    {% for error in field.errors %}
    <span class="error_msg">{{error}}</span>
    {% endfor %}
    <div class='{{field.name}}'}}>{{field.label}} {{field}}</div>
    {% endfor %}
    <div class="gold_border"><br>Your Characters:<br><ol class="char_list">{% for character in user_chars %}<br><li style="color:white"><a class="link-text" href="/characters/{{character.id}}">{{character.character_name}}</a></li><br><br>{% endfor %}</ol></div>
    <button type="submit" id="submit-button" class="profile-submit-button submit-button"></button>
    <form method="POST" action="/users/delete/{{user.id}}">
    <button type="submit" id="delete-button" class="user-delete profile-delete-button submit-button"></button>
    </form>
</form>



</div>
{% endblock %}